.vs
CSharpUI/bin
CSharpUI/obj
Photo Editing/bin
Photo Editing/obj
Photo Editing/AppPackages
Photo Editing/BundleArtifacts
Photo Editing/Package.StoreAssociation.xml
Photo Editing/Package.StoreAssociation1.xml